.to_Grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 7px;
}
.display_toDoList_thing{
  width: 300px;
  min-height: 30px;
  margin-top: 20px;
}

.todo_list_grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 7px;
  row-gap: 7px;
}
.input_box{
  padding: 10px 25px 10px 7px;
  border: solid gray 1px;
  border-radius: 5px;
}
.js-due-date-input{
  padding: 8px;
  border: solid gray 1px;
  border-radius: 5px;
}
.button_add{
  padding: 10px 27px 10px 27px;
  border: solid;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: green;
}
.button_add:hover{
  opacity: 0.8;
}
.button_add:active{
  opacity: 0.6;
}
.nameToDOList{
  margin: 10px 25px 10px 7px;
}
.duedateToDOList{
  margin: 10px 40px 10px 7px;
}
.deleteButton{
  padding: 10px 27px 10px 27px;
  border: solid;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
}
.button_add:hover{
  opacity: 0.8;
}
.button_add:active{
  opacity: 0.6;
}
.name_text{
  font-weight: bold;
  
}
